.footer {
  bottom: 0 !important;
  display: flex;
  background: #6d79939c;
  padding: 1.5rem;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  position: relative;
  /* top: 46rem; */
}

.foot-container1 {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
  align-content: center;
}
.foot-about {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form-set{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.input-area{
  padding: 0 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  background: transparent;
  border: 2px solid black !important;
}

.submit-area{
  padding: 12px;
  background-color: #2d2c39;
  border: none;
  color: #fff;
}

.foot-about h3 {
  color: #f4f5f6;
  font-family: "Poppins", sans-serif;
}

.foot-about h3 span {
  color: black;
}

.foot-context {
  text-transform: uppercase;
}

.foot-context a {
  text-decoration: none;
  color: black;
}

.foot-context a:hover {
  color: aliceblue;
  transition: all 0.3s linear;
}

.foot-contact {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contact-set {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  column-gap: 1rem;
}

.contact-set i {
  font-size: 1.5rem;
}

.contact-set p a {
  text-decoration: none;
  color: black;
}

.foot-social {
  width: max-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  text-align: center;
}

.social-links-list i {
  font-size: 27px;
  margin-top: 4px;
}

.fa-brands:hover {
  color: #6d79939c;
}

.fa-sharp:hover {
  color: #6d79939c;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px auto 0px auto;
  /* position: absolute;
  top: 50%;
  left: 50%; */
}

.social-links-list li {
  list-style: none;
}

.social-links-list li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  /* line-height: 5px; */
  /* font-size: 2px; */
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social-links-list li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.social-links-list li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-links-list li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.social-links-list li a:hover:before {
  top: 0;
}

.social-links-list li:nth-child(1) a:before {
  background: #3b5999;
}

.social-links-list li:nth-child(2) a:before {
  background: #55acee;
}

.social-links-list li:nth-child(3) a:before {
  background: #0077b5;
}

.social-links-list li:nth-child(4) a:before {
  background: #dd4b39;
}

@media (max-width: 825px) {
  .social-links i {
    font-size: 1.8rem;
  }

  /* .form-set{
    flex-direction: column;
    width: 10vw;
  }
  
  .input-area{
    width: 8rem !important;
    padding: 0 !important;
    padding: 5px !important;
    border-radius: 0 !important;
    background: transparent;
    border: 2px solid black !important;
  }
  
  .submit-area{
    padding: 5px;
    background-color: #2d2c39;
    border: none;
    color: #fff;
  } */
}

@media (max-width: 500px) {
  .foot-container1 {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    text-align: center;
    row-gap: 1.5rem;
  }

  .form-set{
    flex-direction: column;
    width: 80vw;
  }

  .foot-about {
    justify-content: center;
  }

  .foot-contact {
    display: flex !important;
    flex-direction: row;
    column-gap: 1rem;
    align-self: center;
  }

  .contact-set {
    column-gap: 0.5rem;
  }

  .foot-social {
    align-self: center;
  }
}
