
 
                        /*Styling for the entire home page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--body_background); */
}

.home{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    background-color: var(--body_background);
}

.suggestive__content__container{
    text-align: center;
    margin-top: 1.5rem;
    padding: 0px;
    
    
    /* height: fit-content; */
    /* width: 30vw; */
}



.content__pick{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: .5rem;
    box-shadow: 0px 0px 3px #ccc;
}

.suggestive__content__author__name{
    color: rgb(124, 124, 124);
    background-color: rgb(240,240,240,1);
    border-radius: 10px;
    padding:2px 8px;
    font-family: 'Poppins';
}

.content__description{
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    width: 30vw;
    color: rgba(68, 67, 67, 0.863);
    word-wrap: break-word;
    white-space: initial;
    text-align: left;
}

.feed__content__container{
    padding-top: 10px;
    /* overflow-y: scroll; */
    /* height: 100vh; */
    /* width: 60vw; */
}

.feed__blog__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    gap: 1rem;
}

.posted__blogs{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* gap: 1rem; */
    /* width: 60vw; */
    margin: 16px;
    box-shadow: 2px 2px 5px #ccc;
}

.blog__post__title{
    text-transform: capitalize;
    color:#000;
    font-family: 'Poppins',sans-serif;
}

.blog__post__description{
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Roboto';
}

.post__informations{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.post__author__name p{
    width: fit-content;
    font-family: 'Poppins',sans-serif;
    border-radius: 15px;
    background-color:#2d2c39;
    color:#fff;
    padding: 3px 8px;
}

.post__reach{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
    margin-bottom: 12px;
}

.upvote_btn{
    border: none;
    outline: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    color: #2d2c39;
    /* border: 1px solid #6d79939c; */
    padding: 3px 10px;
    border-radius: 10px;
    padding-left: 8px;
    /* box-shadow: 0px 0px 4px #ccc; */
}

/* .feed__content__container::-webkit-scrollbar{
    width: 1rem;
}

.feed__content__container::-webkit-scrollbar-track{
    background: #000;
} */