/* Styling for the login page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.credentials__container {
  gap: 5px;
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #5ed5f8, #00c0ff, #00a9ff, #008dff, #006dff, #4160fb, #6150f5, #7a3ced, #9846f1, #b251f5, #ca5efa, #e06bfe);
}

.container_reset__pass {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 4px rgb(97, 97, 97);
  background-color: #fff;
}

.container_login {
  width: 40vw;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 4px rgb(97, 97, 97);
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(97, 97, 97);
}

.reset__pass__info,
.login__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  justify-content: center;
}
.reset__pass_credentials,
.login__credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
input:not([type="submit"]) {
  width: 25vw;
  padding: 10px 10px 10px 30px;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 8px;
  /* margin-top: 1.7rem; */
}
input:not([type="submit"]):focus {
  /* border-bottom: 2px solid #465370; */

  border-color: #3e6ac7 !important;
  box-shadow: 0px 0px 2px black;
}
#reset__pass_user_mail:focus {
  border-color: #3e6ac7 !important;
  box-shadow: 0px 0px 2px black;
}
.info_field {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info_icon {
  position: absolute;
  left: 4px;
  right: 4rem;
  /* top: 1.5rem; */
  color: black;
  /* padding-left: 5px; */
}

#pw_icon {
  position: absolute;
  right: 30px;
  fill: black;
  /* top: 1.5rem; */
  color: black;
  /* padding-left: 5px; */
}
.formtext{
  padding-left: 0.6rem;
}

#confirm_email__btn,
#login__btn {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  width: 130px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
#confirm_email__btn:hover,
#login__btn:hover {
  background-color: #465370;
  color: #fff;
}
.btns_submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_msg {
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

.forgot_password {
  margin-top: 3px;
  padding-top: 3px;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  margin-bottom: 0.5rem;
  cursor: pointer;
  
}

.forgot_password:hover {
  margin-top: 5px;
  text-decoration: none;
  color: #465370;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
 
}
.heading_title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}


.login_msg {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0.5rem 0rem;
  margin-top: 0rem;
  font-size: 1.5rem;
  color: black;
}

.signin_opt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.signin_opt--icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.google_icon {
  transition: all 0.3s ease-in-out;
  color: black;
  cursor: pointer;
}

.google_icon:hover {
  transition: all 0.3s ease-in-out;
  color: rgb(15, 157, 88);
  cursor: pointer;
}

.facebook_icon {
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.facebook_icon:hover {
  color: #3b5998;
  cursor: pointer;
}

.github_icon {
  transition: all 0.3s ease-in-out;
  color: black;
  cursor: pointer;
}

.github_icon:hover {
  color: black;
  cursor: pointer;
}

.signup__link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.signup__link:hover {
  text-decoration: none;
  color: #465370;
  font-weight: bold;
}

.text-secondary {
  color: black;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
