/* Styling for the login page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.credentials__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d7993b2;
}

.container_reset__pass,.container_login{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 4px rgb(97, 97, 97);
    background-color: #fff;
}
.reset__pass__info,.login__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    justify-content: center;
}
.reset__pass_credentials,.login__credentials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
input:not([type='submit']){
    width: 25vw;
    padding:10px 10px 10px 30px;
    outline: none;
    border: none;
    border: 1px solid #6d7993;
    border-radius: 8px;
    /* margin-top: 1.7rem; */
}
input:not([type='submit']):focus{
    /* border-bottom: 2px solid #465370; */
    
    border-color: #3e6ac7 !important;
    box-shadow: 0px 0px 2px #6d7993;
}
#reset__pass_user_mail:focus{
    border-color: #3e6ac7 !important;
    box-shadow: 0px 0px 2px #6d7993;
}
.info_field{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_icon{
    position: absolute;
    left: 2px;
    /* top: 1.5rem; */
    color: #6d7993;
    /* padding-left: 5px; */
}
#confirm_email__btn,#login__btn{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    width: 130px;
    background-color: #6d7993;
    color: white;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
    transition: all .3s ease-in-out;

}
#confirm_email__btn:hover,#login__btn:hover{
    background-color: #465370;
    color: #fff;
}
.btns_submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}



/* media query */
@media (max-width: 768px) {
    .container_login {
      padding: 1rem;
    }
  
    .heading_title {
      font-size: 2rem;
    }
  
    .login__info {
      font-size: 0.8rem;
    }
  
    .login__btn {
      font-size: 0.9rem;
    }
    input::placeholder{
        font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .container_login {
      max-width: 300px;
    }
  
    .heading_title {
      font-size: 1.8rem;
    }
    .heading_line h2{
        font-size: 17px;
    }
  
    .info_field {
      margin-bottom: 0.5rem;
    }
  
    .login__info {
      font-size: 0.7rem;
    }
  
    .login__btn {
      font-size: 0.8rem;
    }
    input::placeholder{
        font-size: 8px;
    }
  }
  