

/* ===========preloader css ==========*/
#preloader {
    position: fixed;
    width: 40%;
    height: 55vh;
    background: #f1dbbf;
    left:29%;
    top: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 4000ms;
    z-index: 2000;
  }

  