/* Styling for the signup page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.info__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #5ed5f8, #00c0ff, #00a9ff, #008dff, #006dff, #4160fb, #6150f5, #7a3ced, #9846f1, #b251f5, #ca5efa, #e06bfe);
}

.signup__container{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 0px 4px rgb(97, 97, 97);
    background-color: #fff;
}
.user_acc_info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acc__credentials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#pw_icon, #cpw_icon {
    position: absolute;
    right: 5px;
    /* top: 1.5rem; */
    color: black;
    /* padding-left: 5px; */
  }

#signup__btn{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    width: 130px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1.4rem;
    transition: all .3s ease-in-out;

}
#signup__btn:hover{
    background-color: #465370;
    color: #fff;
}
