/* Styling for the signup page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.info__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d7993b2;
}

.signup__container{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 0px 4px rgb(97, 97, 97);
    background-color: #fff;
}
.user_acc_info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acc__credentials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#signup__btn{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    width: 130px;
    background-color: #6d7993;
    color: white;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1.4rem;
    transition: all .3s ease-in-out;

}
#signup__btn:hover{
    background-color: #465370;
    color: #fff;
}


/* media query */

@media (max-width: 768px) {

    
    .info_field {
      width: 100%;
    }
    .info_field input {
        height: 25px;
      }
  
    .btns_submit p{
      font-size: 11px;
    }

    input[type="submit"] {
        padding: 6px;
        font-size: 10px 5px;
      }
  
    .mt-3 {
      margin-top: 10px;
      margin-bottom: 0;
    }
  
    .user_image_field {
      align-items: center;
    }
    input::placeholder{
        font-size: 8px;
    }
    
  }
  

@media (max-width:480px) {
    .acc__credentials{
        gap: 5px;
    }

    .info_field input {
        height: 25px;
      }

      .heading_line h2{
        font-size: 18px;
      }

      input[type="submit"] {
        padding:5px 2px;
        font-size: 10px;
      }
      
      #signup__btn{
        width: 110px;
      }

    input::placeholder{
        font-size: 6.5px;
    }

    #signup__btn{
        margin-top: 10px;
    }

    .btns_submit p{
      font-size: 9px;
    }
}


