.pick-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
}

.pick-card{
    display: flex;
    margin-top: 2rem;
    width: 90vw;
    height: 40vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--text_color) 0px 1px 2px 0px, var(--text_color) 0px 1px 3px 1px;
}

.pick-card img {
    width: 280px;
    height: 100%;
    border-radius: 10px;
}

.written-context{
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

.written-context h2{
    color: var(--text_color);
}

.written-context p{
    color: var(--text_color);
}

.buttons{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.name-button{
    padding: 8px 1rem;
    border-radius: 30px;
    background-color: #2d2c39;
    color: aliceblue;
    border: none;
}

.like-button{
    padding: 6px 10px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}

.pick-card h6{
    display: flex;
    align-items: flex-end;
    margin: 0 !important;
    width: 10vw !important;
    padding: 1rem;
    font-size: 12px;
    color: grey;
}

@media(max-width: 900px){
    .pick-card{
        width: 90vw;
        height: 30vh;
    }

    .pick-card img{
        width: 250px;
        height: 100%;
    }

    .written-context h2{
        font-size: 1.5rem;
    }

    .written-context p{
        font-size: 11px;
    }

    .name-button{
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .like-button{
        padding: 4px 8px;
    }

    .pick-card h6{
        font-size: 10px;
    }
}


@media(max-width: 500px){
    
    .pick-card{
        width: 90vw;
        height: 30vh;
    }

    .pick-card img{
        width: 130px;
        height: 60%;
    }

    .written-context h2{
        font-size: 1rem;
    }

    .written-context p{
        font-size: 7px;
    }

    .name-button{
        padding: 5px 10px;
        font-size: 7px;
    }

    .like-button{
        padding: 4px 8px;
        font-size: 10px;
    }

    .pick-card h6{
        width: 20vw;
        font-size: 10px;
    }
}

