/* Styling for the write blog page */

.content__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:70px ;
    z-index: -1;
    overflow-x: hidden;
}
.field__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    width: 100vw;
    align-items: center;
    padding-bottom: 1.5rem;
}
.title_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.title_container p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.wrapper-class {
    padding:10px 20px;
    width: 77vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
  }
  .editor-class {
    padding: 1rem;
    /* border: 1px solid #ccc; */
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }
 
.author__container input,.title_container input{
    
    width: 80vw;
    padding:10px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #6d7993cc;
}
.title_container input:focus,.author__container input:focus{
    border: 1px solid #6d7993cc;
}
.blog__content p,.author__container p,.blog__image__container p{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}
.save__btn{
    display: block;
    width: 8vw;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #2d2c39d8;
    color: #fff;
    border-radius: 8px;
    padding: 6px 8px;
    cursor: pointer;
    border: none;
    outline: none;
}
.btns{
    position: relative;
}
.save__btn:hover{
    background-color: #2d2c39;
}